body {
    margin: 0;
    padding: 0;
    background-color: violet;
    overflow-x: hidden;

}
.background-image{
    position: relative;
}
.header {
    position: absolute;
    top: 0;
    right: 0;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1;
}
.header i{
    margin-right: 25px;
    margin-top: 25px;
    color: darkviolet;
}
.background-image img{
     object-fit: cover; 
     object-position: 50% 50%; 
     width: 100vw;
     height: 100vh;
     overflow-x: hidden;

}
.arrow-div {
    position: absolute;
    top: 0;
    right: 0;
    height: 925px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 1;
    color: rgb(255, 255, 255);
    animation: bounce 2s infinite;

}
.arrow-div svg{
    height: 150px;
    width: 150px;
    padding: 20pxpx;
    position: absolute;
    /* background-color: rgb(180, 180, 180); */
    border-radius: 70px;
    cursor: pointer;

}
.arrow-div svg polyline{
        cursor: pointer;
}
@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(10px); }
}
