body {
    margin: 0;
    padding: 0;
    display: flex;
    background-color: rgba(11,32,53,255);
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
      font-weight:500;
}

button,
input {
    font-family: 'Courier New', Courier, monospace;
    list-style: none;
    border: none;
    padding: 5px;
    border-style: none;
    outline: none;
    box-shadow: none;
}
input{
    background-color: rgba(117,149,187,255); 
    color: black;
}
input::placeholder {
  color: #000000;

}

.todo {
    margin: 40px;
    
}
.part{
background-color: rgba(71,96,127,255);
padding: 30px;
}
.todo p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: rgba(117,149,187,255);
}

.input-div {
    display: grid;
    grid-template-columns: 200px 75px 100px 110px;
    column-gap: 10px;
    margin-bottom: 5px;
    
}

.task-div {
    display: grid;
    grid-template-columns: 200px 75px 100px 50px 50px;
    column-gap: 10px;
    row-gap: 5px;
    
}
.task , .time , .date{
      border: 1px solid rgba(11,32,53,255);
      display: flex;
      justify-content: stretch;
      align-items: center;
}

.task, .time, .date {
  max-width: 100%;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal;
  display: block;
}



/* 
.task, .time, .date {
  border: 1px solid #999;
  padding: 8px;
  margin: 5px 0;
  border-radius: 5px;
  background-color: #f9f9f9;
} */

.add-button{
    background-color:#18426b;
}

.done{
    background-color: #ff6262; 
}
.rem{
    background-color: #7595BB;

}

.done-green {
  background-color: #72ce68;
  color: white;
}

/* background-color: #72ff62;  */