body {
    margin: 0;
    padding: 0;
    background-color: rgb(77, 164, 186);
    

}

.main-layout {
    padding-left: 110px;
    padding-top: 110px;
    padding-right: 10px;
    padding-bottom: 10px;
}

/* ------------------------------------------------------------------------------------------ */
.header-main-page {
    height: 100px;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgb(44, 87, 98);
}

.sidebar-main-page {
    position: fixed;
    top: 100px;
    /* right below header */
    left: 0;
    width: 100px;
    height: 100vh;
    background-color: rgb(55, 110, 123);

}

.sidebar-icons {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.sidebar-icons i {
    margin: 30px;
    color: #232323;
}

.about-me {
    height: 300px;
    background-color: lightcoral;
    width: 50px;
}

/* ------------------------------------------------------------------------------------------ */

.header-main-page {
    display: flex;
    justify-content: flex-end;
}
.header-main-page .fa-solid.fa-cart-shopping.fa-2x, .search-box{
    margin-right: 50px;
    color: #232323;

}
.search-box{
  position: absolute;
  padding: 10px;
  width: 30vw;
  border-radius: 15px;
  right: 150px;
  top: 10px;
}
.search-active {
  background-color: white;
}

.row{
    display: flex;
    align-items: center;
    padding: 5px 5px;
}
.search-box input {
  padding: 15px;
  width: 30vw;
  border-radius: 15px;
  border: 1px solid #999999
}
.search-box input:focus {
  outline: none;
  border: 1px solid #666666;
}

.search-box input:focus {
  outline: none;
  border: 1px solid #666666;
}
.row i{
    position: absolute;
    right: 46px;
    font-size: 15px;
}
.row-expand ul{
    padding: 0px 5px;
}
.row-expand ul li{
    list-style: none;
    padding: 10px 10px;
    margin-left: 15px ;
    font-family: sans-serif;

}
.row-expand ul li:hover{
background-color: rgb(236, 236, 236);

}


/* .search-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #555;
  pointer-events: none;
}  */
/* ------------------------------------------------------------------------------------------ */

.main-images-parent {
    padding-left: 115px;
    padding-top: 115px;
}

.main-home-images {
    columns: 180px;
    column-gap: 15px;
    width: 100%;
    max-width: 100%;
    /* 🔥 Add this */
}

.main-home-images-parent {
    width: 100%;
}

.main-home-images img {
    width: 100%;
    border-radius: 7px;
    cursor: pointer;
}
