body {
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
    transform: scale(.91); /* Adjust this */
  transform-origin: top center;

  height: 100vh;
}


.section-layout {
  display: flex;
  gap: 20px;
padding: 15px;
}

/* .preview-section{
  background-color: black;
}

.main-section{
  background-color: red;
} */

