
.main-images {
  columns: 180px;
  column-gap: 15px;
  width: 100%;
  max-width: 100%;
  /* 🔥 Add this */
}

.main-images-parent {
  width: 100%;
}

.main-images img {
  width: 100%;
  border-radius: 7px;
  cursor: pointer;
}
/* 
.main-images {
  column-count: 4;
  column-gap: 15px;
  padding: 20px;
  width: 100%;
  max-width: 100%;
}

@media (max-width: 1200px) {
  .main-images {
    column-count: 3;
  }
}
@media (max-width: 900px) {
  .main-images {
    column-count: 2;
  }
}
@media (max-width: 600px) {
  .main-images {
    column-count: 1;
  }
}

.grid-item {
  break-inside: avoid;
  margin-bottom: 20px;
}

.grid-item img {
  width: 100%;
  display: block;
} */
